@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    <form action="#" method="post" role="form">
        <div class="form-group">
            <label for="destination">所需下载的资源网址：</label>
            <input class="form-control" id="destination" name="destination" placeholder="请输入有效的网址" type="text" />
        </div>
        <p>
            <button class="btn btn-success" type="submit">发起下载请求 &raquo;</button>
        </p>
    </form>
</div>
